<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hor.mapper.WeatherMapper">
    <!--插入前非空判断，否则什么都不做-->
    <insert id="insertWeather" parameterType="com.hor.bean.OneDay">
        <choose>
            <when test="date != null and weatherAbbr != null and windPower != null and aqi != 0">
                insert into
                weather(city_name, date, max_temp, min_temp, weather_abbr, wind_power, aqi, fcd)
                values (#{cityName}, #{date,jdbcType=DATE}, #{maxTemp}, #{minTemp}, #{weatherAbbr}, #{windPower}, #{aqi}, now())
            </when>
            <otherwise>
                select * from weather where 1 = 2
            </otherwise>
        </choose>
    </insert>

    <select id="queryIfCityNameExist" parameterType="string" resultType="java.lang.Integer">
        select count(1) from (select distinct city_name from weather where city_name = #{cityName}) as wcn
    </select>

    <select id="queryIfExistSameRow" parameterType="com.hor.bean.OneDay" resultType="java.lang.Integer">
        select count(1) from (select city_name from weather where city_name = #{cityName} and date = #{date}) as wcn
    </select>

<!--    <update id="updateById" parameterType="com.hor.dto.ParamDTO">-->
<!--        update blog-->
<!--            set owner_id = (owner_id + 1)-->
<!--            <if test="title != null">-->
<!--                ,title = #{title}-->
<!--            </if>-->
<!--            <if test="content != null">-->
<!--                ,content = #{content}-->
<!--            </if>-->
<!--        where id = 1-->
<!--    </update>-->

</mapper>
